/* ############################## */
/*       General Layout          */
/* ############################## */

body {
font-family: 'Segoe UI', Roboto, sans-serif;
background-color: #161616;
color: #ECECEC;
text-align: center;
margin: 0;
padding: 0;
}

header {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px 20px;
color: white;
}

.layout {
display: flex;
flex-direction: row;
min-height: 90vh;
}

nav {
position: sticky;
top: 20px;
align-self: flex-start;
display: flex;
flex-direction: column;
gap: 15px;
margin-top: 5%;
padding: 15px;
border-radius: 10px;
background-color: #1C1B22;
color: white;
height: fit-content;
}

nav a {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 24px 16px;
background-color: rgba(77, 77, 77, 0.4);
color: white;
text-decoration: none;
font-size: 1rem;
border-radius: 10px;
transition: background-color 0.3s, transform 0.2s;
width: 130px;
height: 130px;
text-align: center;
gap: 10px;
box-sizing: border-box;
}

nav a:hover {
background-color: rgb(63, 56, 82);
transform: scale(1.1);
box-shadow: 0 0 36px rgba(0, 0, 0, 0.7);
}

/* ############################## */
/*         Content Layout        */
/* ############################## */

.main-content {
padding: 30px;
max-width: 1000px;
margin: 0 auto;
}

.text-box, .chart-box {
display: flex;
padding: 10px;
border-radius: 15px;
background-color: #1C1B22;
color: white;
max-width: 900px;
margin: 30px auto;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.text-box-item, .chart-box-inner {
flex-grow: 1;
flex-basis: 600px;
padding: 10px;
border-radius: 15px;
background-color: rgba(77, 77, 77, 0.1);
text-align: justify;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
box-sizing: border-box;
}

.box-divider {
border: none;
height: 3px;
background-color: #aaa;
border-radius: 999px;
opacity: 0.4;
}

/* ############################## */
/*         Fonts & stuff          */
/* ############################## */

h1 {
font-size: 2rem;
padding: 10px 20px;
color: #E5E5F1;
}

h2, .subheading-abovebox, .subheading-inbox {
color: #ECECEC;
text-align: left;
}

h2 {
  font-size: 1.5rem;
  margin-left: 15%;
}

.subheading-abovebox {
font-size: 1.3rem;
padding: 10px;
margin-left: 15%;
}

.subheading-inbox {
font-size: 1.2rem;
padding: 0 5px;
font-weight: bold;
line-height: 0.9rem;
}

.p1 {
font-size: 1.1rem;
color: #ECECEC;
text-align: left;
margin-left: 1%;
margin-right: 2%;
line-height: 1.7rem;
font-weight: normal;
}

.subheading-hint {
font-size: 0.9rem;
font-style: italic;
color: #bbb;
margin-top: -10px;
margin-bottom: 20px;
text-align: center;
}

a {
color: #3498db;
text-decoration: none;
font-weight: bold;
transition: color 0.3s;
}

a:hover {
color: #da8fff;
}

/* ############################## */
/*            Images             */
/* ############################## */

.img-emoji {
max-width: 35px;
max-height: 35px;
vertical-align: middle;
}

.img-emoji-contact {
width: 45px;
height: 45px;
max-width: 45px;
max-height: 45px;
object-fit: contain;
aspect-ratio: 1 / 1;
filter: drop-shadow(1px 0 rgba(0, 0, 0, 0.4))
drop-shadow(-1px 0 rgba(0, 0, 0, 0.4))
drop-shadow(0 1px rgba(0, 0, 0, 0.4))
drop-shadow(0 -1px rgba(0, 0, 0, 0.4))
drop-shadow(1px 1px rgba(0, 0, 0, 0.2))
drop-shadow(-1px -1px rgba(0, 0, 0, 0.2))
drop-shadow(1px -1px rgba(0, 0, 0, 0.2))
drop-shadow(-1px 1px rgba(0, 0, 0, 0.2));
}

.img-car {
max-width: 50%;
max-height: 40vh;
margin: 0 auto;
}

.img-car:hover {
content: url('/imgs/Uncannyclose.webp');
}

.img-chart {
width: 100%;
max-width: 1000px;
height: auto;
border-radius: 5px;
cursor: zoom-in;
transition: transform 0.4s ease, box-shadow 0.3s ease;
display: block;
margin: 0 auto;
}

.img-chart.zoomed {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) scale(1);
max-width: 95vw;
max-height: 95vh;
width: auto;
z-index: 9999;
box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
border-radius: 12px;
cursor: zoom-out;
background-color: #212121;
}

/* ############################## */
/*         Social page            */
/* ############################## */

.social-card-grid {
display: flex;
flex-wrap: wrap;
gap: 2rem;
justify-content: center;
margin: 5rem auto;
max-width: 1000px;
}

.icon-circle {
flex-shrink: 0;
background-color: #6161619f;
width: 65px;
height: 65px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}

.card {
display: flex;
flex-direction: column;
background-color: rgba(183, 135, 228, 0.123);
border-radius: 15px;
width: 400px;
height: 10rem;
padding: 1.5rem;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
background-color: rgb(63, 56, 82);
box-shadow: 0 0 36px rgba(0, 0, 0, 0.7);
transform: scale(1.1);
}

.card-top {
display: flex;
flex-direction: row;
align-items: center;
}

.card-label-wrapper {
flex-grow: 1;
display: flex;
justify-content: center;
}

.card-label {
font-family: 'Segoe UI';
font-weight: bold;
font-size: 1.6rem;
color: #ffffff;
padding-right: 13%;
text-align: center;
}

.card-bottom {
margin-top: 1rem;
}

.card .discord-id {
font-size: 1.3rem;
text-align: center;
line-height: 1.6;
color: #ffffff;
display: inline-block;
transition: transform 0.3s, color 0.3s;
}

.card-label-discord {
font-family: 'Segoe UI';
font-weight: bold;
font-size: 1.6rem;
color: #ffffff;
line-height: 1.5rem;
text-align: center;
display: inline;
}

.card-top .card-label-discord {
width: 100%;
text-align: center;
}

.card:hover .card-label {
color: #da8fff;
}

.card:hover .discord-id {
color: #da8fff;
text-shadow: 5px 5px 5px rgba(5, 5, 5, 1);
}

.discord-id {
font-size: 0.95rem;
}

.layout-social {
  display: flex;
  flex-direction: row;
  min-height: 80vh;
  }

  @media (max-width: 768px), (max-width: 1200px) and (hover: none) and (pointer: coarse) {
  .layout,
  .layout-social {
    flex-direction: column;
  }

  nav {
    position: static;
    width: 90%;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    margin-left: 3%;
  }

  .main-content,
  .social-card-grid {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }

  .card {
    width: 90vw;
    margin: 0 auto;
  }

  .text-box,
  .chart-box {
    flex-direction: column;
    margin: 20px 10px;
  }

  .text-box-item,
  .chart-box-inner {
    flex-basis: auto;
    width: 100%;
  }

  .card {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 20rem;
    height: 10rem;
    padding: 1.5rem;
    }
  
  .p1 {
    font-size: 1.1rem;
    color: #ECECEC;
    text-align: left;
    margin-left: 1%;
    margin-right: 2%;
    line-height: 1.8rem;
    font-weight: normal;
    }

  h1 {
    font-size: 2rem;
    padding: 10px 20px;
    color: #ECECEC;
    }

  .h1-contact {
    font-size: 2rem;
    padding: 10px 20px;
    color: #ECECEC;
    line-height: 0px;
    margin-top: 10%;
    margin-bottom: -5%;
    }
    
    h2, .subheading-abovebox, .subheading-inbox {
    font-size: 1.2rem;
    color: #ECECEC;
    text-align: left;
    }
    
    h2 {
      font-size: 1.5rem;
      margin-left: 15%;
    }
}